body {
  background-color: #b0d4d5
  color: black; 
}
body {
  background-color: #A5C9C4;
    color: black;
  text-align: left;
  font-family: Montserrat;
  margin-left: 10%;
  margin-right: 10%;
}

#bg {
  width: 100vw;
  height: 100vh;
  z-index: -999;
  position: fixed;
  top: 0px;
  left: 0px;
}

.heading {
  font-family: Roboto, cursive;
  text-align: center;
  font-size: 300%;
  text-color: black;
  text-shadow: #C9A5BC 2px 2px;
}

h2.heading {
  font-size: 200%;
}

.bordered {
  border-style: solid;
  border-color: #d3dbec;
  border-width: 3px;
  padding: 7px;
  border-radius: 15px;
  margin: 9px;
  background-color: #d3dbec;
  color: #333333;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #888;
}

a:hover, a:visited: {
  color: #d1bec5;
}

hr {
  height: 3px;
  border: 0px;
  background-color: d1bec5;
}

#footer {
  font-size: 150%;
  text-align: center;
}
