body {
  background-color: #A5C9C4;
  color: black;
  text-align: center;
  font-family: Montserrat;
  margin-left: 10%;
  margin-right: 10%;
}

.heading {
  font-family: Roboto, cursive;
  text-align: center;
  font-size: 300%;
  text-color: black;
}

h2.heading {
  font-size: 200%;
}

.bordered {
  border-style: solid;
  border-color: #d3dbec;
  border-width: 3px;
  padding: 7px;
  border-radius: 15px;
  margin: 9px;
  background-color: #d3dbec;
  color: #333333;
}

a {
  text-decoration: underline;
  font-weight: 600;
  color: #30343F;
}

a:hover, a:visited {
  color: #344192;
  text-decoration: none;
}

hr {
  height: 3px;
  background-color: black;
}

#footer {
  font-size: 150%;
  text-align: center;
}

#nav-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  position: relative;
  background-color: #d3dbec;
  
}

#nav-list > li {
  flex-grow: 1;
  display: inline-block;
  width:
}

#nav-list ul {
  display: none;
  background-color: #d3dbec;
}

#nav-list li:hover {
  background-color: #a3abbc;
}

#nav-list li:hover ul {
  display: block;
}

#nav-list li ul {
  list-style-type: none;
  padding: 0px;
  position: absolute;
}
