body {
  background-color: #A5C9C4;
  color: black;
  text-align: center;
  font-family: Montserrat;
  margin-left: 10%;
  margin-right: 10%;
}

#content, #album, #info{
  float:left
}

#content{
  border:solid 2px black; 
  width:50%
}

#album{
  border:solid 2px red;
  width:20%;
  background-color: black;
}

#info{
  border:solid 2px blue;
  max-width: 19%
}

#player button{
  float:left;
}

#player audio{
  height: 1em;
}

#tracklist {
  list-style-type: none;
}

.track-li {
  font-size: 100%;
  font-style: italic;
}

#player audio::-webkit-media-controls-panel {
  background-color: #A5C9C4;
}

.track-player {
  height: 2em;
}

#album-cover {
  width: 100%;
}

#info img {
  max-width: 80%;
  margin: auto;
  display: inline-block;
}

a {
  text-decoration: underline;
  font-weight: 600;
  color: #30343F;
}

a:hover, a:visited {
  color: #344192;
  text-decoration: none;
}

hr {
  height: 2px;
  background-color: black;
}
